h1{
    color: #000;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font: bold;
    background: rgb(97, 196, 235);
}
h3{
    color: yellow;
    background-color: black;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p{
    color: #000;
    background-color: lightblue;
    text-align: justify;
    font-size: 25px;
    font-weight: lighter;
}
.free{
    color: red;
    text-align: right;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
blog{
    border: 6px dotted rgb(255, 0, 251);
    border-radius: 30px;
    margin: 10px;
    width: 20%;
    height: 200px;
    padding: 20px;
}
#top{
    color: rgb(2, 162, 2);
}
.special{
    color: red;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 700;
}
.sad{
    color: firebrick;
    font-size: 30px;
}
.display{
    display: inline-block;
}